{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-center">
    <h1>Author</h1>
</div>
<br>
<br>
<div class="container marketing">
    <div class="row justify-content-center m-4">
        <div class="col-lg-4 justify-content-center">
            <img class="rounded-circle mx-auto d-block"
                src="https://cdn.pixabay.com/photo/2017/03/27/13/28/man-2178721_960_720.jpg"
                alt="Generic placeholder image" width="200" height="200">
            <br>
            <br>
            <h4 class="text-center">Mohan Singh</h4>
            <p class="text-center">A Web Developer with Two years of experience, specializing in HTML5, JavaScript,
                Python, MySQL, database design, and back-end development. Adept at collaborating with dynamic teams to
                build high quality websites and identify opportunities to enhance the user experience.
            </p>
        </div>
    </div>
</div>
{% endblock %}