{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <h1>Contact Us</h1>
    <div class="row ">
        <!-- <div class="col-md-8 card mb-4  mt-3 "> -->
            <div class="card-body">
                <form id="myForm" method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ contact.as_p }}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        <!-- </div> -->
        {% block sidebar %}
        {% include 'sidebar.html' %}
        {% endblock sidebar %}
    </div>
</div>
<script>
    // function myFunction() {
    //   document.getElementById("myForm").reset();
    // }
</script>

{% endblock %}