{% block sidebar %}
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text">
                    Hello, I’m Mohan. I’m a Web developer and write on Creation Club.
                    I’ve been writing for a while now, but this is my first blog. I’m excited about it because it allows me to share my opinions and experiences with the world.
                </p>
                <a href="{% url 'about' %}" class="btn btn-danger">Know more</a>
            </div>
        </div>
        <div class="card my-4">
            <h5 class="card-header">Contact Us</h5>
            <div class="card-body">
                <p class="card-text">Email - xyz@gmail.com</p>
                <p class="card-text">Mobile Number - +91 XXXXX8765</p>
                <a href="{% url 'contact' %}" class="btn btn-warning">connect me</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}
